[package]
name = "benchmarks"
version = "0.0.0"

edition.workspace = true
license.workspace = true

[dev-dependencies]
# internal
engine = { path = "../engine" }
coach = { path = "../coach" }
# external
criterion = "0.5.1"

[[bench]]
name = "rollout_bench"
harness = false
[dependencies]
rayon = "1.8.0"